.menuDiv{
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 180px;
    z-index: 1;
}

.logotipoDiv img {
  width: 120px;   /* ajusta el ancho del logo */
  height: auto;   /* mantiene la proporción original */
  display: block; /* asegura que se comporte como bloque */
  margin: 0 auto; /* centra la imagen horizontalmente */
}